:root {
  --white: white;
  --blue: #244c98;
  --light-blue: #d7e2f6;
  --background-light-blue: #f0f4fc;
  --grey: #727272;
}

body {
  font-family: Manrope;
  transition: 1s;
}

.wrapper {
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  width: 90%;
  background-color: var(--background-light-blue);
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 2%;
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  gap: 10px;
}

.title {
  color: var(--blue);
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.description {
  color: var(--grey);
  line-height: 2em;
  font-size: 0.8em;
  margin: 0;
  max-width: 95%;
}

.try-button {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 60px;
  border: none;
  transition: 1s;
  padding: 12px 12px 12px 24px;
  max-width: 300px;
  font-size: 18px;
  font-family: Manrope;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.try-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  color: var(--blue);
  transition: 2s;
}

.cancel-button {
  padding: 10px;
  background-color: var(--white);
  color: black;
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  align-self: flex-end;
}

.cancel-button:hover {
  cursor: pointer;
  background-color: var(--light-blue);
  color: var(--blue);
  transition: 0.5s;
}

.layout-img {
  width: 100%;
  border-radius: 0 12px 12px 0;
}

.layout-img-wrapper {
  width: 50%;
}

.arrow-wrapper {
  background-color: var(--white);
  border-radius: 40px;
}

.dialog {
  background-color: var(--background-light-blue);
  border: none;
  width: 20em;
}

.modal-container {
  display: flex;
  flex-direction: column;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

.auth-form-title {
  font-weight: 500;
}

.login-input,
.password-input {
  background-color: var(--light-blue);
  border: none;
  border-radius: 10px;
  padding: 5%;
  width: 90%;
}

.login-input::placeholder,
.password-input::placeholder {
  color: var(--blue);
}

.login-button,
.register-button {
  padding: 4% 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.register-button {
  background-color: var(--light-blue);
  border: 1px solid var(--blue);
  color: var(--blue);
}

.register-button:hover,
.login-button:hover {
  transition: 1s;
  cursor: pointer;
}

.login-button {
  color: var(--white);
  background-color: var(--blue);
}

.remember-me-wrapper {
  display: flex;
  gap: 10px;
}

.recover {
  color: var(--blue);
  font-weight: 500;
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
  .description-wrapper {
    width: 90%;
  }
  .layout-img-wrapper {
    width: 100%;
  }
  .layout-img {
    border-radius: 0 0 12px 12px;
  }
  .try-button {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
}
